<app-title titulo="Ordem de Serviço"></app-title>
<div class="_container">
    <h3 mat-dialog-title>Cadastro de Ordem de Serviço</h3>

    <form class="mat-dialog-content" [formGroup]="formulario">

        <div class="form">
            <mat-form-field color="primary" appearance="outline">
                <mat-label>Data</mat-label>
                <input matInput type="date" class="form-control" formControlName="data" name="data" required>
                <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
        </div>

        <!--Textarea for demo purposes-->
        <div class="form">
            <mat-form-field color="primary" appearance="outline">
                <mat-label>Pacientes</mat-label>
                <mat-select formControlName="paciente_id" name="paciente_id" required [compareWith]="compareObjects">
                    <mat-option *ngFor="let paciente of pacientes" [value]="paciente">{{paciente.nome}}</mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
        </div>

        <!--Contains mat-hint for characters count and has maxLengt set-->
        <div class="form">
            <mat-form-field color="primary" appearance="outline">
                <mat-label>Convênios</mat-label>
                <mat-select formControlName="convenio" name="convenio" required>
                    <mat-option value="Unimed">Unimed</mat-option>
                    <mat-option value="Cassi">Cassi</mat-option>
                    <mat-option value="HB Saúde">HB Saúde</mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
                <!-- <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint> -->
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="primary" appearance="outline">
                <mat-label>Postos de Coletas</mat-label>
                <mat-select formControlName="postocoleta_id" name="postocoleta_id" required
                    [compareWith]="compareObjects">
                    <mat-option *ngFor="let posto of postos" [value]="posto">{{posto.descricao}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="primary" appearance="outline">
                <mat-label>Médicos</mat-label>
                <mat-select formControlName="medico_id" name="medico_id" required [compareWith]="compareObjects">
                    <mat-option *ngFor="let medico of medicos" [value]="medico">{{medico.nome}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="primary" appearance="outline">
                <mat-label>Exames</mat-label>
                <mat-select formControlName="exames" name="exames" required multiple multiple [compareWith]="compareFn">
                    <mat-option *ngFor="let exame of exames" [value]="exame">{{exame.descricao}}: {{exame.preco |
                        currency: "BRL"}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <h3>Valor total da OS: <strong>{{calculaExames(formulario.value.exames) | currency: "BRL"}}</strong></h3>
        <div mat-dialog-actions>
            <button mat-button type="button" [disabled]="!formulario.valid" (click)="enviarFormulario()">Salvar</button>
            <button mat-stroked-button (click)="dialogRef.close()">Cancelar</button>
        </div>
    </form>
</div>